#resume-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left-column,
.right-column {
    width: 48%;
}

h1, h3 {
    color: #333;
    margin-bottom: 10px;
}

h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

section {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.add-more-buttons {
    margin-top: 20px;
}
